.mantine-RichTextEditor-root {
	scrollbar-width: auto;
	scrollbar-color: #8c8c8c;
}

/* Chrome, Edge, and Safari */
.mantine-RichTextEditor-root::-webkit-scrollbar {
	width: 12px;
}

.mantine-RichTextEditor-root::-webkit-scrollbar-track {
	background: transparent;
}

.mantine-RichTextEditor-root::-webkit-scrollbar-thumb {
	background-color: #8c8c8c;
	border-radius: 10px;
}

.content p {
	margin: 0;
	padding: 0;
}

.content {
	margin: 0;
	padding: 0;
}

.mention {
	background-color: rgba(255, 255, 255, 0.1);
	padding: 5px;
	border-radius: 5px;
}

.mentionedMe {
	background-color: rgba(255, 255, 0, 0.3);
}
